.banner {
	position: relative;
	background: url(https://a0.muscache.com/im/pictures/5998210c-3dd8-456a-8805-2a044ede1d5e.jpg?im_w=1680);

	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;

	margin-bottom: 10vh;
}
.banner__search {
	display: flex;
	flex-direction: column;
}
.banner__search-button {
	background-color: white !important;
	color: #ff7779 !important;
	text-transform: inherit !important;
	letter-spacing: 1.5px !important;
	font-weight: 700 !important;
}

.banner__info {
	background-color: black;
	color: white;

	padding-top: 25vh;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
	width: 400px;

	border-bottom-right-radius: 10px;
}

.banner__info > h5 {
	margin-top: 10px;
	line-height: 1.3;
	font-weight: normal;
}

.banner__info > h1 {
	line-height: 1.3;
}

.banner__info > Button {
	color: white;
	background-color: #ff7779;
	margin-top: 30px;
	text-transform: inherit;
	letter-spacing: 1.5px;
	font-weight: 700;
	transition: all 0.3s ease;
}

.banner__info > Button:hover {
	background-color: white;
	color: #ff7779;
	transition: all 0.3s ease;
}

@media (max-width: 400px) {
	.banner__info {
		/* width: 400px; */
		width: 250px;
		padding-top: 25vh;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 40px;
	}

	.banner__info > h5 {
		font-size: 12px;
	}

	.banner__info > h1 {
		font-size: 24px;
	}
}
