.card {
	margin: 10px;

	/* object-fit: fill; */

	flex: 1;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	transition: all 0.2s ease-in;
}

.card:hover {
	transform: scale(1.03);
}

.card > img {
	border-radius: 10px 10px 0 0;
	object-fit: cover;
	min-width: 130px;
	min-height: 250px;

	width: 100%;
}

.card__info {
	padding: 10px 15px;
	padding-bottom: 20px;
}

p {
	font-size: 14px;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;

	word-wrap: break-word;
}

@media (max-width: 600px) {
	.card {
		margin: 20px;
	}
}
